{% extends "auctions/layout.html" %} {% block body %}
<div class="container">
  <h2>Active Listings  {% if user.is_authenticated %} <span style=' padding-left: 60%;' ><a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84; " href="{% url 'won'%}" >
    Won Auctions
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
    </svg>
  </a> </span>{%endif%}</h2>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for auction in auctions %} {%if auction.is_active%}
    <div class="col d-flex align-items-stretch">
      <div class="card w-100">
        <img
          src="{{ auction.image_url }}"
          class="card-img-top-index"
          alt="Image of {{ auction.title }}"
        />
        <div class="card-body d-flex flex-column">
          <h4 class="card-title">{{ auction.title }}</h4>
          <p class="card-text">{{ auction.desc }}</p>
          <h5 class="card-title mt-auto">
            <strong>
              {{ auction.highest_bid|default:auction.start_bid }}$
            </strong>
          </h5>
          <form
            action="{% url 'auction_detail' auction_id=auction.id %}"
            method="get"
            class="mt-auto d-flex justify-content-center"
          >
            <button type="submit" class="btn btn-primary">View Details</button>
          </form>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
{% endblock %}
